{
  "reporter"   : ["text", "text-summary", "lcov", "html"],
  "include"    : ["<your-include-wildcard>"],
  "exclude"    : ["<your-exclude-wildcard>"],
  "require"    : ["@babel/register"],
  "sourceMap"  : false,
  "instrument" : false,
  "all"        : true
}
